{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "api": "./src/api",
          "middleware": "./src/middleware",
          "services": "./src/services",
          "workers": "./src/workers"
        }
      }
    ]
  ]
}
