{
  "extends": ["@gpa-lab/eslint-config"],
  "ignorePatterns": ["build/", "node_modules"],
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": ["**/webpack.*.js"],
      "rules": {
        "node/no-unpublished-require": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "api": "./src/api",
          "middleware": "./src/middleware",
          "services": "./src/services",
          "workers": "./src/workers"
        }
      }
    }
  }
}
